@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    font-family: sans-serif;
    text-align: center;
  }
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ed288b;
    color: #ed288b;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #ed288b;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }